numpy==1.26.4
pandas==2.2.2
scikit-learn
xgboost
lightgbm
pytorch-tabnet
catboost
shap
requests
joblib
matplotlib
langchain
langchain-community
langchain-core
streamlit
langchain-google-genai
google-genai
dowhy
dice_ml
tqdm
torch
lime
langchain_experimental
streamlit-aggrid
optuna
